.discount-categories{
    display: block;
    width: 100%;
    padding: 70px 0px;
    background: #FFF;
    text-align: center;
    h3{
        font-size: em(20);
        margin: 0px;
        color: $yellow;
        font-family: $regular;
        font-weight: bold;
        display: block;
        text-align: left;
        span{
            font-size: em(20);
            color: #2b2103;
            display: block;
        }
    }
    .categories{
        @media (min-width: 992px){
            .col-md-n {
                width: 14.20%;                
                width: calc(100% / 7);
            }
        }
        .category{
            background: $green-bg;
            text-align: center;
            color: $green-text;
            position: relative;
            height: 50px;
            margin-top: 25px;
            cursor: pointer;
            &:hover{
                .sub-menu{
                    opacity: 1;
                    top: 50px;
                    z-index: 1;
                    visibility: visible;
                }
                > span{
                    background: $yellow;
                    i{
                        transform: rotate(180deg);
                    }
                }
            }
            p{
                font-size: em(28);
                text-transform: uppercase;
                margin: 0px;
                line-height: 50px;
                padding-right: 30%;
            }
            > span{
                background: #FFF;
                position: absolute;
                right: 2px;
                top: 2px;
                height: 46px;
                line-height: 50px;
                font-size: 20px;
                width: 30%;
                transition: all .3s ease-in-out;
                -webkit-transition: all .3s ease-in-out;
            }
            .sub-menu{
                background: $green-bg;
                padding: 0px;
                visibility: hidden;
                position: absolute;
                width: 100%;
                left: 0;
                top: 130px;
                text-align: center;
                opacity: 0;
                transition: all .3s ease-in-out;
                -webkit-transition: all .3s ease-in-out;
                ul{
                    list-style: none;
                    padding: 20px 20px 10px 20px;;
                    margin: 0px;
                    text-align: left;
                    li{
                        a{
                            display: block;
                            color: #253500;
                            font-size: em(10);
                            margin-bottom: 5px;
                            @include breakpoint(sm-down){
                                font-size: em(18);
                            }                                
                            &:hover{
                                color: $yellow;
                            }
                        }
                    }
                }
                .view-more{
                    display: block;
                    background: #2b2103;
                    color: #FFF;
                    text-transform: uppercase;
                    padding: 5px 0px;
                    font-size: em(14);
                }
            }
        }
    }
    
}