@mixin placeholderColor($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
}

@mixin breakpoint($point) {
    @if $point==sm-up {
        @media only screen and (min-width: 768px) {
            @content;
        }
    }
    @else if $point==lg-down {
        @media only screen and (max-width: 1199.99px) {
            @content;
        }
    }
    @else if $point==md-down {
        @media only screen and (max-width: 992px) {
            @content;
        }
    }
    @else if $point==sm-down {
        @media only screen and (max-width: 767.999px) {
            @content;
        }
    }
    @else if $point==xs-down {
        @media only screen and (max-width: 480px) {
            @content;
        }
    }
}

@mixin title($size, $color: $gray, $weight: bold) {
    font-family: $regular;
    font-size: em($size);
    font-weight: $weight;
    color: $color;
}

//Extends
.logo {
    font-family: $regular;
    color: #FFF;
    text-transform: uppercase;
    font-size: 11px;
    margin: 0px;
    line-height: 1;
    display: block;
    height: auto;
    strong {
        font-weight: 900;
        letter-spacing: le(-90);
        font-size: em(54);
        display: block;
        line-height: 0.85;
    }
    &:hover {
        text-decoration: none;
    }
}

.rating {
    list-style: none;
    padding: 0px;
    margin: 0px;
    li {
        display: inline;
    }
    .star-yellow {
        color: $yellow;
    }
    .star-gray {
        color: #cad2ba;
    }
}

.rating-circle {
    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        font-size: em(12);
        li {
            display: inline-block;
            color: #b7b7b7;
            &.green {
                color: $green;
            }
            &.dark-green {
                color: #4b870a;
            }
            &.light-orange {
                color: #f3a01d;
            }
            &.orange {
                color: #f36112;
            }
            &.red {
                color: #f31212;
            }
        }
    }
}

.checkbox-custom {
    margin: 0px;
    display: inline-block;
    a {
        color: $green;
    }
    input[type="checkbox"] {
        position: absolute;
        right: 9000px;
        opacity: 0;
        cursor: pointer;
    }
    .checkmark {
        position: absolute;
        top: -5px;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #FFF;
        border: solid 1px #cbcbcb;
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }
    label {
        padding-left: 40px;
        &:hover input~.checkmark {
            background-color: #FFF;
        }
        input:checked~.checkmark {
            background-color: #FFF;
            border-color: $green;
        }
        input:checked~.checkmark:after {
            display: block;
        }
        .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid $green;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}

.radio-custom {
    margin: 0px;
    display: inline-block;
    font-size: em(12);
    input[type="radio"] {
        position: absolute;
        right: 9000px;
        opacity: 0;
        cursor: pointer;
    }
    .checkmark {
        position: absolute;
        top: -5px;
        left: 0;
        height: 25px;
        width: 25px;
        border-radius: 100px;
        background-color: #FFF;
        border: solid 1px #cbcbcb;
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }
    label {
        padding-left: 30px;
        &:hover input~.checkmark {
            background-color: #FFF;
        }
        input:checked~.checkmark {
            background-color: #FFF;
            border-color: $green;
        }
        input:checked~.checkmark:after {
            display: block;
        }
        .checkmark:after {
            left: 3px;
            top: 3px;
            width: 17px;
            height: 17px;
            border: solid $green 1px;
            background: $green;
            border-radius: 100px;
        }
    }
}

.breadcrumb {
    padding: 0px;
    margin-bottom: 10px;
    margin-top: 0px;
    background-color: transparent;
    border-radius: 0px;
    color: $green-text;
    font-size: em(12);
    a {
        color: $green-text;
        margin: 0px 10px;
        &:first-child {
            margin-left: 0px;
        }
    }
    span {
        color: $green;
        margin-left: 10px;
    }
}

.box-product {
    margin-top: 25px;
    figure {
        display: block;
        width: 100%;
        height: 200px;
        background: #fff;
        margin: 0px;
        @include breakpoint(sm-down) {
            height: auto;
        }
    }
    .info-product {
        display: block;
        background: #f7fff7;
        padding: 15px;
        h5 {
            margin: 0px 0px 5px 0px;
            font-family: 'Gotham-Book';
            font-size: em(16);
            display: block;
            color: #1c2702;
        }
        .price {
            display: inline;
            color: #1c2702;
            font-size: em(18);
            font-weight: bold;
            @include breakpoint(lg-down) {
                display: block;
            }
        }
        .view-more {
            color: $green;
            font-family: 'Gotham-Book';
            display: inline;
            margin-left: 10px;
            @include breakpoint(lg-down) {
                display: block;
                margin-left: 0px;
            }
        }
        small {
            color: $orange;
            font-family: 'Gotham-Book';
            font-size: em(14);
            @include breakpoint(lg-down) {
                font-size: em(12);
            }
            strong {
                font-family: $regular;
            }
        }
    }
}

.box-code {
    margin-top: 40px;
    display: block;
    border: solid 1px #e6eee6;
    figure {
        position: relative;
        .brand {
            border: solid 1px #e6eee6;
            display: block;
            width: 60%;
            margin: 0px auto;
            height: 45px;
            position: absolute;
            bottom: -20px;
            background: #FFF;
            left: 0px;
            right: 0px;
            padding: 5px 10px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                -o-object-fit: contain;
            }
        }
    }
    .info-code {
        padding: 30px 20px 20px;
        h3 {
            color: #2b2103;
            font-size: em(14);
            margin: 0px 0px 15px;
            height: 40px;
            overflow: hidden;
            a {
                color: #2b2103;
            }
        }
        p {
            color: #2b2103;
            font-family: 'Gotham-Book';
            font-size: em(12);
            margin-bottom: 15px;
            a {
                color: #2b2103;
            }
        }
        .btn-yellow {
            background: $yellow;
            color: #FFF;
            border-radius: 5px;
            font-weight: bold;
        }
        small {
            text-align: center;
            color: $orange;
            font-family: 'Gotham-Book';
            display: block;
            margin-top: 15px;
            strong {
                font-family: $regular;
            }
        }
    }
}

.box-slider-widget {
    display: block;
    width: 100%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    .label-left {
        display: block;
        position: relative;
        left: 0px;
        top: -40px;
        float: left;
        font-size: em(12);
    }
    .label-right {
        display: block;
        position: relative;
        right: 0px;
        top: -40px;
        float: right;
        font-size: em(12);
    }
    .indicator {
        display: block;
        position: absolute;
        bottom: -40px;
        color: $green;
        font-size: em(12);
        &:after {
            content: "";
            display: block;
            width: 1px;
            height: 5px;
            background: $green-text;
            position: absolute;
            top: -5px;
            left: 50%;
        }
        &.left {
            left: 0px;
        }
        &.right {
            right: 0px;
        }
    }
    .widget-slider {
        position: relative;
        background: #dde3cf;
        height: 7px;
        width: 100%;
        margin: 0px auto;
        .slider-base {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;
            .slider-origin {
                position: absolute;
                height: 0;
                width: 0;
                top: -10px;
                .slider-handler {
                    width: 25px;
                    height: 25px;
                    left: 0px;
                    top: 0px;
                    background: #7eb306;
                    cursor: pointer;
                }
            }
            .slider-connect {
                background: #7eb306;
                position: absolute;
                right: 0;
                top: 0;
                left: 0;
                bottom: 0;
            }
        }
    }
}

.label-green-arrow {
    position: relative;
    label {
        position: absolute;
        font-weight: 400;
        color: #818181;
        top: 10px;
        padding: 10px 0 0 10px;
        transition: all 200ms;
        margin: 0px;
        pointer-events: none;
        font-family: 'Gotham-Book';
        font-size: 75%;
        transform: translate3d(0, -40%, 0);
    }
    .form-control {
        padding: 22px 5px 10px 10px;
        border: solid 1px #d7d7d7;
        border-radius: 0px;
        color: #535353;
        font-size: em(14);
        box-shadow: none;
        height: 60px;
        background: #FFF url(../assets/images/bg-arrow-green.png) no-repeat 95% center;
        background-size: 12%;
        appearance: none;
        -webkit-appearance: none;
        &:focus {
            box-shadow: none;
        }
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
    input {
        display: none;
        &:checked+.slider {
            background-color: $green;
            &:before {
                -webkit-transform: translateX(34px);
                -ms-transform: translateX(34px);
                transform: translateX(34px);
            }
        }
        &:focus+.slider {
            box-shadow: 0 0 1px $green;
        }
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #cad0bc;
        -webkit-transition: .4s;
        transition: .4s;
        &:before {
            position: absolute;
            content: "";
            height: 22px;
            width: 22px;
            left: 2px;
            bottom: 1px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        &.round {
            border-radius: 34px;
            &:before {
                border-radius: 50%;
            }
        }
    }
}

.form-group-proguiden {
    position: relative;
    margin-bottom: 1.5rem;
    padding: 0px;
    label {
        position: absolute;
        font-weight: 400;
        color: #818181;
        top: 10px;
        padding: 10px 0 0 15px;
        transition: all 200ms;
        margin: 0px;
        pointer-events: none;
        font-family: 'Gotham-Book';
        font-size: em(16);
        &.labelfocus {
            font-size: 75%;
            transform: translate3d(0, -40%, 0);
        }
    }
    &.select {
        &:after {
            display: block;
            position: absolute;
            right: 20px;
            top: 40%;
            content: "\f0d7";
            font: normal normal normal 20px/1 FontAwesome;
            color: $lightGray;
            border-left: 1px solid $lightGray;
            padding-left: 15px;
            pointer-events: none;
        }
    }
    textarea {
        height: auto !important;
    }
    select {
        appearance: none;
        -moz-appearance: none;
        -ms-progress-appearance: none;
        -webkit-appearance: none;
    }
    .form-control {
        padding: 22px 5px 10px 15px;
        border: solid 1px #d7d7d7;
        border-radius: 0px;
        color: #535353;
        font-size: em(18);
        box-shadow: none;
        height: 60px;
        &:focus {
            /* border-color: #d7d7d7;
            box-shadow: inset 0px 0px 0px 2px #d7d7d7; */
            box-shadow: none;
        }
        &[disabled] {
            font-family: 'Gotham-Book';
            background-color: #f5f5f5;
            padding-top: 10px;
        }
    }
    &.error {
        .form-control {
            box-shadow: inset 0px 0px 0px 2px #db2222;
        }
        &:after {
            content: "";
            display: block;
            width: 25px;
            height: 25px;
            background: url(../assets/images/error-form-control.png) no-repeat center center;
            background-size: cover;
            position: absolute;
            top: -10px;
            right: -10px;
        }
    }
    &.success {
        .form-control {
            box-shadow: inset 0px 0px 0px 2px $green;
        }
    }
}