.appointment-information {
    display: block;
    width: 100%;
    background: $green-bg;
    padding: 70px 0px;
    .title {
        h2 {
            font-weight: bold;
            font-size: em(25);
            color: $green-text;
            margin-bottom: 30px;
        }
    }
    .description {
        p {
            color: #6f7762;
            font-weight: 500;
            font-size: em(16);
        }
    }
    .toggle-links {
        text-align: right;
        display: block;
        a {
            color: $green;
            font-size: em(16);
            &.current {
                color: $green-text;
                text-decoration: underline;
            }
        }
    }
    .sidebar-left {
        height: 100%;
        background: #FFF;
        display: block;
        padding: 30px 15px;
        margin-top: 30px;
        border: solid 1px #d7d7d7;
        box-shadow: 0px 2px 0px 0px #c0c9d8;
        @include breakpoint(sm-down){
            margin-bottom: 60px;
            height: auto;
        }
        .info-company {
            display: block;
            width: 70%;
            margin: 30px auto;
            border-bottom: solid 1px #e3e8d7;
            padding-bottom: 20px;
            @include breakpoint(lg-down){
                width: 100%;
            }
            span {
                color: #6f7762;
                font-size: em(12);
            }
            h3 {
                color: $green-text;
                font-size: em(18);
                margin: 0px;
                font-weight: bold;
            }
        }
        .options {
            display: block;
            width: 70%;
            margin: 0px auto;
            border-bottom: solid 1px #e3e8d7;
            padding-bottom: 20px;
            @include breakpoint(lg-down){
                width: 100%;
            }
            span {
                display: inline-block;
                background: #eff6ef;
                border-radius: 100px;
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                img {
                    width: 20px;
                    margin-top: 5px;
                }
            }
        }
        .more-information {
            display: block;
            width: 70%;
            margin: 20px auto;
            border-bottom: solid 1px #e3e8d7;
            padding-bottom: 20px;
            @include breakpoint(lg-down){
                width: 100%;
            }
            a {
                color: $green;
            }
        }
        .speed {
            display: block;
            width: 70%;
            margin: 0px auto;
            border-bottom: solid 1px #e3e8d7;
            padding-bottom: 20px;
            font-size: em(18);
            font-weight: bold;
            color: $green-text;
            @include breakpoint(lg-down){
                width: 100%;
            }
            p {
                margin: 0px;
            }
            small {
                color: #6f7762;
                font-weight: 500;
            }
        }
        .price {
            display: block;
            width: 70%;
            margin: 20px auto;
            padding-bottom: 20px;
            font-size: em(18);
            font-weight: bold;
            color: $green-text;
            @include breakpoint(lg-down){
                width: 100%;
            }
            p {
                margin: 0px;
            }
            small {
                color: #6f7762;
                font-weight: 500;
            }
        }
        .btn {
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }
    .content-box-right {
        position: relative;
        background: #FFF;
        display: block;
        margin-top: 30px;
        border: solid 1px #d7d7d7;
        height: 100%;
        box-shadow: 0px 2px 0px 0px #c0c9d8;
        @include breakpoint(sm-down){
            height: auto;
        }
        h3 {
            font-weight: bold;
            font-size: em(18);
            color: $green-text;
            margin: 0px 0px 20px;
        }
        .table {
            font-weight: 500;
            font-size: em(14);
            color: #6f7762;
            tr {
                td {
                    border: none;
                    &:last-child {
                        text-align: right;
                    }
                }
            }
            &.table-striped {
                tr {
                    &:nth-child(odd) {
                        background: #eff6ef;
                    }
                }
            }
        }
        p {
            color: #6f7762;
            font-size: em(14);
            margin-bottom: 30px;
        }
        .company-detail {
            padding: 30px 15px;
            display: block;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            z-index: 4;
            position: relative;
            transition: all 0.2s linear;
            -webkit-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;
            -moz-transition: all 0.2s linear;
        }
        .company-information {
            display: block;
            padding: 30px 15px;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 3;
            top: 0px;
            left: 0px;
            opacity: 0;
            transition: all 0.2s linear;
            -webkit-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;
            -moz-transition: all 0.2s linear;
        }
    }
	.flex-box {
		margin-top: 15px;
		.usage-option {
			background: #fff;
			padding: 20px;
			display: flex;
			border: solid 1px #e6eee6;
			.img-responsive {
				max-width: 100px;
			}
			.description {
				h2 {
					font-size: 20px;
				}
				p {
					font-size: 12px;
				}
			}
		}
		.users-option {
			background: #fff;			
			display: flex;
			border: solid 1px #e6eee6;
			.img-responsive {
				max-width: 100px;
			}
			.description {
				display: inline-table;
				margin-top: 20px;
				h2 {
					font-size: 20px;
				}
				p {
					font-size: 12px;
				}
			}
		}
	}	
}