.products-comparison{
    display: block;
    background: #FFF;
    padding: 80px 0px;
    @include breakpoint(md-down){
        padding: 50px 0px;
    }    

    .title{
        display: block;
        margin-bottom: 20px;
        h2{
            font-size: em(30);
            margin: 0px;
            color: $green-text;
            font-family: $regular;
            font-weight: bold;
        }
    }

    .product{
        display: block;
        margin-top: 30px;
        .icon{
            display: block;
            background-position: center center;
            background-repeat: no-repeat;
            width: 100%;
            height: 100px;
            @include breakpoint(md-down){
                background-size: 100% auto;
            }
            @include breakpoint(sm-down){
                background-size: contain;
                height: 200px;
            }
        }
        h3{
            font-size: em(20);
            color: #021427;
            text-align: center;
            @include breakpoint(md-down){
                font-size: em(20);
            }
            @include breakpoint(sm-down){
                font-size: em(24);
            }
        }
        p{
            color: #6f7762;
            font-size: em(16);
        }
        &.balance{
            .icon{
                background-image: url('../assets/images/balance.png'); 
            }
        }

        &.industries{
            .icon{
                background-image: url('../assets/images/industries.png'); 
            }
        }

        &.cash-back{
            .icon{
                background-image: url('../assets/images/cash-back.png'); 
            }
        }

        &.share-experiences{
            .icon{
                background-image: url('../assets/images/share-experiences.png'); 
            }
        }
    }
}