.bli-medlem{
    padding: 100px 0px;
    display: block;
    background: url('../assets/images/bli-medlem-bg.jpg') no-repeat center center;
    background-size: cover;
    margin: 0px;
    .title{
        h1{
            color: #2a1402;
            font-size: em(32);
            margin: 0px 0px 50px 0px;
            span{
                color: $orange;
            }
        }
    }
    .register-form{
        &:after{
            content: "";
            background: #ddd;
            width: 1px;
            height: 95%;
            display: block;
            position: absolute;
            right: -30px;
            top: -20px;
            @include breakpoint(sm-down){
                display: none;
            }
        }
        .btn-facebook{
            background: #4267b2 url("../assets/images/facebook-btn.png") no-repeat left center;
            background-size: contain;
            color: #FFF;
            margin-bottom: 15px;
            padding: 10px 10px;
            border-radius: 5px;
            border: solid 1px #4267b2;
            font-family: 'Gotham-Book';
        }
        .btn-google{
            background: #FFF url("../assets/images/google-btn.png") no-repeat left center;
            background-size: contain;
            color: #7a7a7a;
            border-radius: 5px;
            padding: 10px 10px;
            border: solid 1px #dddddd;
            font-family: 'Gotham-Book';
        }
        .separator{
            text-align: center;
            position: relative;
            margin-top: 20px;
            margin-bottom: 20px;
            p{
                margin: 0px;
                color: #7a7a7a;
                position: relative;
                z-index: 2;
                display: inline-block;
                padding: 0px 15px;
            }
            &:after{
                content: "";
                background: #ddd;
                height: 1px;
                display: block;
                position: absolute;
                width: 40%;
                right: 0px;
                top: 50%;
                z-index: 1;
            }
            &:before{
                content: "";
                background: #ddd;
                height: 1px;
                display: block;
                position: absolute;
                width: 40%;
                left: 0px;
                top: 50%;
                z-index: 1;
            }
        }
        form{
            .input-group-addon{
                background: #FFF;
                border-color: #dddddd;
            }
            .form-control{
                @include placeholderColor(#7a7a7a);
                color: #7a7a7a;
                border: solid 1px #dddddd;
                padding: 10px;
                height: auto;
                border-radius: 0px 5px 5px 0px;
                font-family: 'Gotham-Book';
            }
            .btn-orange{
                background: $orange;
                color: #FFF;
                padding: 10px 10px;
            }
        }
        .note{
            font-family: 'Gotham-Book';
            display: block;
            text-align: center;
            margin: 20px auto 0px;
            a{
                color: $green;
                font-family: $regular;
            }
        }
    }
    .features-section{
        ul{
            list-style: none;
            margin: 30px 0px 0px 0px;
            @include breakpoint(sm-down){
                padding: 0px;
            }
            li{
                display: inline-block;
                clear: both;
                width: 100%;
                span{
                    display: block;
                    width: 20%;
                    float: left
                }
                p{
                    color: #2a1402;
                    font-family: 'Gotham-Book';
                    font-size: em(18);
                    line-height: 1;
                    display: block;
                    width: 80%;
                    float: left;
                    margin: 15px 0px 0px 0px;
                }
            }
        }
    }
}